body {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

#home {
  font-family: "Raleway", sans-serif;
}
#home .blog {
  background: #323A45;
  height: 150px;
}
#home .myBlog h1 {
  color: white;
  font-weight: 600;
  font-size: 60px;
  padding-top: 20px;
}

#result {
  font-family: "Raleway", sans-serif;
}
#result * {
  transition: all 0.5s ease;
}
#result .myDiv {
  position: relative;
  top: 80px;
  background: white;
  width: 100%;
}
#result .postGallery a {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
#result .postGallery a:hover {
  color: #53b778;
}
#result .postGallery {
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
}
#result .blog-data {
  margin-bottom: 30px;
  margin-top: 10px;
}
#result .blog-data a {
  text-decoration: none;
  color: #606060;
}
#result .blog-data a:hover {
  color: #53b778;
}
#result .blog-img-1 {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
#result .blog-img-2 {
  margin-bottom: 30px;
}
#result .blog-img-3 {
  margin-bottom: 30px;
}
#result .polosa-1 {
  width: 2400px;
  position: relative;
  left: 0;
}
#result .polosa-3 {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
#result .polosa-3 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#result .blog-img-1:hover {
  transition: all .5s ease;
}
#result .blog-img-1:hover .btn-left {
  transition: all 0.5s ease;
  left: 0px;
  visibility: visible;
}
#result .blog-img-1:hover .btn-right {
  right: 0px;
}
#result .resSlidImg {
  width: 100%;
}
#result .slidImg img {
  display: inline-block;
}
#result .btn-left {
  visibility: hidden;
  left: -60px;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 115px;
  border-top: 50px solid transparent;
  border-left: 60px solid white;
  border-bottom: 50px solid transparent;
}
#result .btn-right {
  width: 0px;
  height: 0px;
  position: absolute;
  right: -90px;
  top: 115px;
  border-top: 50px solid transparent;
  border-right: 60px solid white;
  border-bottom: 50px solid transparent;
}
#result .btn-right:hover {
  right: -30px;
}
#result .btns {
  position: absolute;
  top: 200px;
  left: 200px;
  height: 10px;
  width: 10px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid  white;
  background-color: red;
  margin-right: 10px;
}
#result .center-btn {
  display: inline-block;
  padding: 6px 4px;
}
#result .little-btns {
  text-align: center;
  position: relative;
  bottom: 35px;
}
#result .lil-btn {
  width: 6px;
  height: 6px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}
#result .lil-btn:hover {
  background: rgba(255, 255, 255, 0.7);
}
#result .blog-body {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  color: #5f5f5f;
  line-height: 27px;
}
#result .blog-foot a {
  border: 2px solid #53b778;
  border-radius: 0px;
  text-transform: uppercase;
  color: #53b778;
  font-weight: 600;
  padding: 10px 20px;
}
#result .blog-foot a:hover {
  background: #53b778;
  color: white;
}
#result .div1 {
  margin-bottom: 50px;
}
#result .myNav {
  margin-bottom: 30px;
}
#result .myNav ul > li a {
  color: #606060;
  border-radius: 0px;
  font-family: "Open Sans", arial, sans-serif;
}
#result .leftDiv {
  width: 260px;
  margin-left: 21.33333%;
}
#result .mySearch input {
  border-radius: 0px;
  border: none;
  background: #F5F6F7;
}
#result .mySearch button {
  border: none;
  background: #F5F6F7;
  color: #5f5f5f;
}
#result .widget {
  margin-top: 60px;
}
#result .widget h4 {
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: black;
  border-bottom: 2px solid #53b778;
}
#result .widget-body ul {
  list-style-type: none;
  padding-left: 0;
}
#result .widget-body ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #eaeaea;
}
#result .widget-body ul li a {
  font-size: 16px;
  color: #606060;
  text-decoration: none;
}
#result .widget-body ul li span {
  padding-right: 5px;
  font-size: 20px;
}
#result .widget-post-desc {
  font-size: 12px;
  color: #aaa;
}
#result .widget-post-desc a:hover {
  color: #53b778;
}
#result .widget-body-tag a {
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 5px 7px;
  border: 1px solid #e9e9e9;
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
}
#result .widget-body-tag a:hover {
  border: 1px solid #53b778;
  color: #53b778;
}
